.left {
    float: left;
    width: 20vw;
    height: 100vh;
    background: #72b4f1;
}

.center {
    float: left;
    width: 55vw;
    height: 100vh;
}

.right {
    float: right;
    width: 20vw;
    height: 100vh;
    background: #72b4f1;
}
