<div class="anchor-wrapper">
  <h3> The "a" tag (anchor) </h3>
  <a download="../../../assets/Mountains.JPG" href="../../../assets/Mountains.JPG"> Download </a><br>
  <a href="http://www.google.com" target="_blank"> Google in new tab</a><br>
  <a href="http://www.google.com" target="_parent"> Google in parent frame</a><br>
  <a href="http://www.google.com" target="_self"> Google in THE SAME frame</a><br>
  <a href="http://www.google.com" target="_top"> Google in the full body of the window</a><br>
</div>

<div class="aside-wrapper">
  <h3> Aside</h3>
  <aside>
    <p>One</p>
    <p>Two</p>
    <p>Three</p>
  </aside>
</div>

<div class="article-wrapper">
  <h3> Article tag </h3>
  <article>
    Lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem
    lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem
  </article>
</div>
