@import '../../styles/colors';
@import '../../styles/fonts';

.default-page-button{
  color: $white;
  background: $button-background;
  margin: 20px;
  font-family: $font-hiragino-sans-gb;
  font-size: 15px;

  &:hover {
    background: $hover;
  }
}
