<button class="default-page-button"
        mat-button
        (click)="goToCenteringPage()"> Centering </button>
<button class="default-page-button"
        mat-button
        (click)="goToTheeColumnsFloatPage()"> Three columns with float </button>
<button class="default-page-button"
        mat-button
        (click)="goToBoxSizingModelPage()"> Box-sizing model </button>
<button class="default-page-button"
        mat-button
        (click)="goToMarginCollapsePage()"> Margins collapse </button>
