@import '../../styles/colors';

.wrapper {
  width: 500px;
  height: 200px;
  border: 5px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .item {
    background: $flexbox-page-item-blue;
    border: 1px solid $white;
    flex-basis: 100px;
  }

  .last {
    background: $pink;
    flex-grow: 2;
    order: 2;
  }

  .first {
    order: 1;
    background: $white;
  }
}
